<ion-nav-bar class="bar-light">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="home" icon="ion-home" ui-sref="layout.list">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="scan" icon="ion-qr-scanner" ui-sref="layout.scan">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favoritos" icon="ion-android-favorite-outline" ui-sref="layout.favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
    <ion-tab title="config" icon="ion-gear-b" ui-sref="layout.config">
        <ion-nav-view name="tab-config"></ion-nav-view>
    </ion-tab>
</ion-tabs>
